.after-content-container {
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.after-content {
    width: 1300px;
    height: 120px;
    display: flex;
}


.section1 {
    width: 640px;
    height: 120px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2 {
    width: 640px;
    height: 120px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.section1 h3 {
    color: black;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
}

.section1 p {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #42403F;
}

.section2-first-section input {
    width: 300px;
    height: 45px;
    padding: 0px 15px;
    border: 1px solid #E7E5E4;
    border-radius: 7px;
}

.section2-first-section {
    display: flex;
    justify-content: space-between;
}

.section2-second-section {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.section2-second-section button {
    text-align: center;
    width: 200px;
    height: 45px;
    background: #A40731;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.button-send:hover {
    background-color: white;
    border: 1px solid #A40731;
    color: #1B1918;
    cursor: pointer;
}