
.slider-rca1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    width: 700px;
}

.title-slider {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1B1918;
    margin-top: 30px;
}

.container-input-rca {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
}

.question {
    width: 20px;
    height: 20px;
    fill: #A40731;
}

.titlu-icon {
width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.dropdown {
  width: 600px;
}

