.left-bar {
    width: 100px;
    height: calc(100vh - 102px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 102px;
    background-color: white;
}

.white-left-bar {
    width: 100px;
    height: calc(100vh - 102px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.left-bar img {
    width: 32px;
    height: 32px;

}

.languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;

}


.languages hr {
    height: 100%;
    width: 1px;
    background-color: #E7E5E4;
    margin: 10px;

}

.text-languages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.call {
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;
}

.messenger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    margin-top: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #E7E5E4;
    cursor: pointer;

}

.whatsapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 30px;
    cursor: pointer;
}

.relation-line {
    width: 1px;
    height: 224px;
    background-color: #E7E5E4;
    border-width: 0;

}

.left-bar {
    border-right: 1px solid #E7E5E4;

}

.lang-space {
    border-width: 0;
}

.text-description {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1B1918;
}



.lang-leftbar {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #1B1918;
    cursor: pointer;

}

.selected-lang-leftbar {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A40731;
    cursor: pointer;
}