.carte-verde1 {
    display: flex;
    gap: 40px;
    flex-direction: column;
    width: 600px;
}
.checkbox-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.flex-container {
    display: flex;
  justify-content: space-between;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    display: block;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #A40731;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid #A40731;
;
    border-width: 0 1px 1px 0;

    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

input[type="radio"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in;
    box-shadow: inset 30px 30px black;

}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.container {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #948E8C;
    margin-bottom: 0;
}

.carte-verde-title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #1B1918;
    display: block;
    margin-bottom: 10px;
}

.checkbox-column-carte-verde {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

