.center-content {
    width: 1300px;
    display: flex;
    flex-direction: column;
}

.item {
    list-style-type: none;
    padding: 9px 30px;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #42403F;
    background: #FFFFFF;
    border: 1px solid #E7E5E4;
    border-radius: 7px;

}

ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 0;

}

.top-tabs {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(85.58deg, #A40731 -0.38%, #830B3A 41.27%, #002359 103.58%);
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    border-radius: 7px;
    margin-top: 120px;
}

.top-tabs h3 {
    margin-bottom: 30px;
    padding: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 24px;

    letter-spacing: 0.01em;
    color: white;
}

li {
    list-style-type: none;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */


    /* White */

    color: #FFFFFF;
}

.container-for-arrow {
    display: flex;
    align-items: center;
    width: 83px;
    height: 30px;
    gap: 15px;


}

.container-for-arrow img {
    margin-left: 5px;

}

.form {
    width: 1330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -20px;

}

.center-section1 {
    height: 576px;
}

.center-section2 {
    margin-top: 105px;
    width: 640px;
    height: 576px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.choose-vehicle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.01em;
    color: #1B1918;
}

.menu-list li:hover {
    cursor: pointer;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #42403F;

}


.arrow-right {
    fill: white;
    width: 20px;
    height: 20px;
    transition: 0.2s ease;

}

li.container-for-arrow:hover {
    color: red;
    font-family: "PT Root UI";
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
}

li.container-for-arrow:hover .arrow-right {
    fill: red;
    width: 25px;
    height: 30px;
}

.menu-list li {
    transition: 0.8s;
}

.valera {
    list-style-type: none;
    padding: 9px 30px;
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;


}

.active {
    cursor: pointer;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: red;
    pointer-events: none;
    border: 1px solid #E7E5E4;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;

}

.card {
    width: 200px;
    height: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    border-radius: 7px;
    cursor: pointer;
    background-color: #FFFFFF;
    white-space: initial;
}

.container-for-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.icon-cars {
    width: 50px;
    height: 50px;
    fill: #1B1918;
    margin-top: 15px;
}

.card-description {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 160px;
    height: 42px;
}

.menu-description1 {
    width: 620px;
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
}

.menu-description1-active {
    width: 620px;
    background: #FFFFFF;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
}

.menu-description2 {
    width: 620px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    border-radius: 7px;
}

.menu-description2-active {
    width: 620px;
    background: #FFFFFF;
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
}

.title-description {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.close1 {
    width: 18px;
    height: 18px;
    fill: #A40731;
    transition: 0.5s all;
}

.close-rotate {
    transform: rotate(225deg);
}

.close2 {
    width: 18px;
    height: 18px;
    fill: #A40731;
    transition: 0.5s all;
}


.description-text-container2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 620px;
    border-top: rgb(164, 7, 49, 0.1) solid 1px;
    background-color: #FFFFFF;
    transition: all 0.3s;
    opacity: 1;
    height: 200px;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
}

.description-p {
    width: 570px
}

.container-big {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 630px;
    border-radius: 7px;
    margin-bottom: 20px;


}

.text-paragraph {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */
    letter-spacing: 0.01em;
    color: #42403F;
    transition: all .3s;
    opacity: 1;
}


.riscuri-si-obligatiuni {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 20px;
    width: 630px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    border-radius: 7px;
}

.riscuri-title {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #42403F;

}


.hided {
    opacity: 0;
    height: 0;
    transition: all 0.3s ease;
    visibility: hidden;

}

.description-text-container2.hided .text-paragraph {
    height: 0;
    opacity: 0;
    transition: all .3s;

}

.slider1-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
}

.cards + title {
    width: 660px;
}

.disabled {
    pointer-events: none;
    background-color: white;
}


.description-text-container2::-webkit-scrollbar {
    width: 5px;
    background-color: white;
    border-radius: 5px;
}

.description-text-container2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.description-text-container2::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;

}

.description-text-container2-book1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 620px;
    border-top: rgb(164, 7, 49, 0.1) solid 1px;
    background-color: #FFFFFF;
    transition: all 0.3s;
    opacity: 1;
    height: 120px;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
}


.container-paragraphs {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 20px 0 20px;
    margin: 20px 0 20px 0;
    overflow-y: auto;
    border-radius: 7px;
}


.container-paragraphs::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border: 4px solid transparent;
    border-radius: 7px;


}

.container-paragraphs::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}

.container-paragraphs::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}


